<div class="cart container container--wide">
  {% if cart.item_count > 0 %}
    
    <div class="faded">
      <a href="/" class="fade">Home</a> / {{ 'layout.cart.title' | t }} ({{ cart.item_count }})
    </div>

    <form action="/cart" method="post" novalidate>

      <ul class="cart__items">
        {% for item in cart.items %}
          <li class="cart__item" data-label="{{ 'customer.order.product' | t }}">
            <div class="cart__item__inner">

              <div class="row">

                <div class="col col-3">
                  {% if item.image != blank %}
                    <a href="{{ item.url | within: collections.all }}" class="fade-light block">
                      {{ item | img_url: '240x240', crop: 'center' | img_tag: item.title }}
                    </a>
                  {% endif %}
                </div>

                <div class="col col-9">
                  <div class="cart__item__meta">
                    <a href="{{ item.url }}" class="fade block">
                      <h2>
                        {{ item.product.title }}
                      </h2>

                      <strong data-label="{{ 'cart.label.price' | t }}">
                        {% if item.original_line_price != item.line_price %}
                          <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
                          {{ item.price | money_without_trailing_zeros }}
                          <span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
                          <s>{{ item.original_price | money_without_trailing_zeros }}</s>
                        {% else %}
                          {{ item.price | money_without_trailing_zeros }}
                        {% endif %}
                      </strong>
                    </a>
                  </div>

                  <div class="cart__item__options faded">

                    {% unless item.variant.title contains 'Default' %}
                      {% for option in item.product.options %}
                        {{ option }}: {{ item.variant.options[forloop.index0] }}
                      {% endfor %}
                    {% endunless %}

                    {%- assign property_size = item.properties | size -%}

                    {% if property_size > 0 %}
                      {% for p in item.properties %}
                        {% unless p.last == blank %}
                        {{ p.first }}:

                        {% if p.last contains '/uploads/' %}
                          <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                        {% else %}
                          {{ p.last }}
                        {% endif %}

                        {% endunless %}
                      {% endfor %}
                    {% endif %}

                  </div><!-- end .cart__item__options -->

                  <div class="cart__item__quantity">
                    <div data-label="{{ 'cart.label.quantity' | t }}">
                      <input type="number"
                             name="updates[]"
                             id="updates_{{ item.key }}"
                             value="{{ item.quantity }}"
                             min="0"
                             aria-label="{{ 'cart.general.item_quantity' | t }}"
                             class="cart__item__option__field">
                    </div>
                  </div>

                  <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart__item__remove">
                    ×
                  </a>

                  <div data-label="{{ 'cart.label.total' | t }}" class="cart__item__total">
                    <strong>{{ item.line_price | money_without_trailing_zeros }}</strong>
                  </div>

                </div>


              </div><!-- end .row -->

            </div><!-- end .cart__item__inner -->
          </li>
        {% endfor %}
      </ul>

      {% comment %}<table class="responsive-table">
        <thead class="small--hide">
          <tr>
            <th colspan="2">{{ 'cart.label.product' | t }}</th>
            <th>{{ 'cart.label.price' | t }}</th>
            <th>{{ 'cart.label.quantity' | t }}</th>
            <th>{{ 'cart.label.total' | t }}</th>
          </tr>
        </thead>
        <tbody>

          {% for item in cart.items %}

            <tr class="responsive-table-row">

              <td data-label="{{ 'customer.order.product' | t }}">

                {% if item.image != blank %}
                  <a href="{{ item.url | within: collections.all }}">
                    {{ item | img_url: '240x240' | img_tag: item.title }}
                  </a>
                {% endif %}

              </td>
              <td>
                <a href="{{ item.url }}">{{ item.product.title }}</a>

                {% unless item.product.has_only_default_variant %}
                  <p>{{ item.variant.title }}</p>
                {% endunless %}

                <p>{{ item.vendor }}</p>

                {%- assign property_size = item.properties | size -%}

                {% if property_size > 0 %}
                  {% for p in item.properties %}
                    {% unless p.last == blank %}
                    {{ p.first }}:

                    {% if p.last contains '/uploads/' %}
                      <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                    {% else %}
                      {{ p.last }}
                    {% endif %}

                    {% endunless %}
                  {% endfor %}
                {% endif %}

                <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                  <small>{{ 'cart.general.remove' | t }}</small>
                </a>
              </td>
              <td data-label="{{ 'cart.label.price' | t }}">
                {% if item.original_line_price != item.line_price %}
                  <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
                  {{ item.price | money_without_trailing_zeros }}
                  <span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
                  <s>{{ item.original_price | money_without_trailing_zeros }}</s>
                {% else %}
                  {{ item.price | money_without_trailing_zeros }}
                {% endif %}
              </td>
              <td data-label="{{ 'cart.label.quantity' | t }}">
                <input type="number"
                       name="updates[]"
                       id="updates_{{ item.key }}"
                       value="{{ item.quantity }}"
                       min="0"
                       aria-label="{{ 'cart.general.item_quantity' | t }}">
              </td>
              <td data-label="{{ 'cart.label.total' | t }}">
                {{ item.line_price | money_without_trailing_zeros }}
              </td>
            </tr>

          {% endfor %}
        </tbody>
      </table>{% endcomment %}

      {% comment %}{% if settings.cart_notes_enable %}
        <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
        <textarea name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
      {% endif %}{% endcomment %}

      <div class="row mbv2">
        <div class="col col-12 sm-col-12 ml-auto">
          <div class="row">
            <div class="col col-9">
              <span>{{ 'cart.general.subtotal' | t }} ({{ cart.item_count }} {{ 'layout.cart.items_count' | t: count: cart.item_count }})</span>
            </div>
            <div class="col col-3 align-right">
              <strong>{{ cart.total_price | money_without_trailing_zeros }}</strong>
              {% if cart.total_discounts > 0 %}
                <strong>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money_without_trailing_zeros }}</strong>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="col col-9">
              <span>{{ 'cart.general.tax' | t }}</span>
            </div>
            <div class="col col-3 align-right">TBD
            </div>
          </div>
          <div class="row">
            <div class="col col-9">
              <span>{{ 'cart.general.shipping' | t }}</span>
            </div>
            <div class="col col-3 align-right">TBD
            </div>
          </div>
          <div class="cart__checkout mtv2">
            <input type="submit" name="update" value="{{ 'cart.general.update' | t }}" class="cart__update button button--light cart__checkout__item">
            <input type="submit" name="checkout" class="button cart__checkout__item" value="{{ 'cart.general.checkout' | t }}">
          </div>      
        </div>
      </div>

    </form>
  {% else %}
    {% comment %}
    Cart empty state
    {% endcomment %}
    <div class="rte supports-cookies align-center">
      <p>{{ 'cart.general.empty' | t }} {{ 'cart.general.continue_browsing_html' | t }}</p>
    </div>

    {% comment %}
    Cart no cookies state
    ---------------------
    Browser cookies are required to use the cart. If cookies aren't enabled in the
    browser a message is displayed prompting the user to enable them.
    {% endcomment %}
    <div class="supports-no-cookies">
      <p>{{ 'cart.general.cookies_required' | t }}</p>
    </div>
  {% endif %}
</div>
