<div class="product container container--wide"
  data-section-id="{{ section.id }}"
  data-section-type="product"
  data-enable-history-state="true"
>
  <div class="product__images">
    {% assign n = product.images | size %}
    {% if n > 1 %}
      <div class="showcase js-showcase">
        {% for image in product.images %}
          <img class="showcase__item{% if forloop.first %} showcase__item--active{% endif %} js-showcase-item" src="{{ image.src | img_url: '1440x' }}" />
        {% endfor %}
      </div>
      <div class="showcase-nav js-showcase-nav">
        {% for image in product.images %}
          <img class="showcase-nav__item js-showcase-nav-item" src="{{ image.src | img_url: '100px' }}" />
        {% endfor %}
      </div>
    {% elsif n == 1 %}
      <img src="{{ product.images[0].src | img_url: '1440x' }}" class="" />
    {% endif %}
  </div>
  <div class="row">
    <div class="col col-5 xs-col-12">
      <h2>{{ product.title }}</h2>
      <strong class="block mbv0-5">{{ product.price | money_without_trailing_zeros }}</strong>
      <a href="" class="button product__button">{{ 'products.product.add_to_cart' | t }}</a>
    </div>
    <div class="col col-7 xs-col-12">
      <div class="rte">
        {{ product.description }}
      </div>
    </div>
  </div>

  {% unless product == empty %}
    <script type="application/json" data-product-json>
      {{ product | json }}
    </script>
  {% endunless %}
</div>
