<div class="product-preview col">
  {% for image in product.images | limit: 1 %}
    <a href="{{ product.url }}" class="product-preview__image-link">
      <img class="product-preview__image" src="{{ image.src | img_url: '1440x' }}" />
    </a>
  {% endfor %}

  <a href="{{ product.url }}" class="fade block">
    <h2>{{ product.title }}</h2>
    <strong>{{ product.price | money_without_trailing_zeros }}</strong>
  </a>
</div>
