<header class="header">
  <div class="container">
    <nav class="header__nav">
      <ul class="header__nav__left">
        {% for link in linklists[section.settings.menu].links %}
          <li>
            <a href="{{ link.url }}" class="fade">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
      <a href="/" class="header__logo">
        {% include 'justinjaywang' %}
      </a>
      <div class="header__nav__right">
        <a href="/cart" class="fade">
          {{ 'layout.cart.title' | t }}
          {% if cart.item_count > 0 %}
            ({{ cart.item_count }}){% comment %} {{ 'layout.cart.items_count' | t: count: cart.item_count }}){% endcomment %}
          {% endif %}
        </a>
      </div>
    </nav>
  </div>
</header>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}
