<div data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" class="container container--wide">

  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <div class="product__images">

    {% for image in product.images %}
      {% capture wrapper_class %}
        {%- unless featured_image == image -%}
          hide
        {%- endunless -%}
      {% endcapture %}

      {% include 'responsive-image' with
        image: image,
        max_width: 1080,
        max_height: 675,
        image_attributes: "data-product-featured-image",
        wrapper_class: wrapper_class,
        wrapper_attributes: "data-product-image-wrapper",
      %}
    {% endfor %}

    {% if product.images.size > 1 %}
      <ul class="product__thumbnails">
        {%- for image in product.images -%}
          <li class="product__thumbnail">
            <a href="{{ image.src | img_url: '480x480' }}" data-thumbnail-id="{{ image.id }}" data-product-single-thumbnail>
              <img class="product-single__thumbnail-image" src="{{ image.src | img_url: '160x160' }}" alt="{{ image.alt | escape }}">
            </a>
          </li>
        {%- endfor -%}
      </ul>
    {% endif %}

  </div>

  <div class="row">

    <div class="col col-5 xs-col-12">

      <div class="product__meta">
        <h1>{{ product.title }}</h1>

        <div data-price-wrapper>
          <strong data-product-price>
            {{ current_variant.price | money_without_trailing_zeros }}
          </strong>

          {% if product.compare_at_price_max > product.price %}
            <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
            <s data-compare-price>
              {% if current_variant.compare_at_price > current_variant.price %}
                {{ current_variant.compare_at_price | money_without_trailing_zeros }}
              {% endif %}
            </s>
          {% endif %}
        </div>
      </div>

      <form action="/cart/add" method="post" enctype="multipart/form-data">
        
        <div class="product__options">
          {% unless product.has_only_default_variant %}
            {% for option in product.options_with_values %}
              <div class="product__option">
                <div class="selector-wrapper js">
                  <label for="SingleOptionSelector-{{ forloop.index0 }}" class="product__option__label">
                    {{ option.name }}
                  </label>

                  <select
                    class="product__option__select"
                    id="SingleOptionSelector-{{ forloop.index0 }}"
                    data-single-option-selector
                    data-index="option{{ option.position }}">
                    {% for value in option.values %}
                      <option
                        value="{{ value | escape }}"
                        {% if option.selected_value == value %}selected="selected"{% endif %}>
                          {{ value }}
                      </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <span class="faded">&ensp;/&emsp;</span>
            {% endfor %}
          {% endunless %}

          <select name="id" class="no-js" data-product-select>
            {% for variant in product.variants %}
              <option
                {% if variant == current_variant %}selected="selected"{% endif %}
                {% unless variant.available %}disabled="disabled"{% endunless %}
                value="{{ variant.id }}">
                  {{ variant.title }}
              </option>
            {% endfor %}
          </select>

          <div class="product__option">
            <label for="Quantity" class="product__option__label">{{ 'products.product.quantity' | t }}</label>
            <input type="number" id="Quantity" name="quantity" value="1" min="1" class="product__option__input" size="2">
          </div>
        </div>

        <button
          class="product__button button"
          type="submit"
          name="add"
          data-add-to-cart
          {% unless current_variant.available %}disabled="disabled"{% endunless %}>
            <span data-add-to-cart-text>
              {% if current_variant.available %}
                {{ 'products.product.add_to_cart' | t }}
              {% else %}
                {{ 'products.product.sold_out' | t }}
              {% endif %}
            </span>
        </button>
      </form>

    </div>

    <div class="col col-7 xs-col-12 rte">
      {{ product.description }}
    </div>


    {% comment %}{% if section.settings.show_share_buttons %}
      {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
    {% endif %}{% endcomment %}

    {% unless product == empty %}
      <script type="application/json" data-product-json>
        {{ product | json }}
      </script>
    {% endunless %}

  </div>

</div>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": false
      }
    ]
  }
{% endschema %}
